ion-toolbar {
    --background: var(--ion-color-secondary);
    color: #FFF;
  }
  
  .navbar-title {
    text-transform: uppercase;
    text-align: center;
  }
  
  .parking-p{
    font-size: 4rem;
  }