<ion-header>
  <ion-navbar color="secondary">
    <ion-title class="navbar-title" text-center ><span class="parking-p"> P</span>arkings ouverts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="!areParkingsAvailable" class="no-data-card">
    <ion-item text-center>
      <h1>Données non disponibles!</h1>
      <p>Vérifier votre connexion internet et activer votre position GPS...</p>
    </ion-item>

    <ion-item>
      <button ion-button icon-start clear item-end small color="secondary" (click)="showParkings()">
        <ion-icon name="refresh"></ion-icon>
        Réessayer
      </button>
    </ion-item>
  </ion-card>

  <div class="parking-list">
    
    <ion-card *ngFor="let item of parkings" >

        <ion-item no-padding (click)="showDirection(item)">
          <ion-thumbnail item-start class="place" text-center>
              <p class="title">{{ item.availablePlaces }} </p>
              <p class="sub-title">Pl. dispo</p>
          </ion-thumbnail>
          <h2>{{ item.name }}</h2>

          <p class="address-info">  {{ item.address.subStreet }} {{ item.address.street }} {{ item.address.locality }} 
                                    {{ item.address.area }} {{ item.address.postalCode }}
          </p>
          
          <button ion-button clear item-end class="goto-btn" (click)="showDirection(item)">
            <ion-icon color= "marker" name="ios-pin-outline"> 
              <ion-badge class="distance-info" color= "secondary">{{ item.distance | unitConverter}}</ion-badge>
            </ion-icon>
          </button>

        </ion-item>
      
    </ion-card>
  </div>

</ion-content>
