<ion-content class="ion-padding info-main-content">
    <section class="close-btn" slot="fixed">
        <ion-button size="large" fill="clear" (click)="dismiss()">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
    </section>
    <section class="info-content">
        <ion-text color="secondary">
            <h3 class="info-title">
                Les données affichées dans cette application proviennent des jeux de données mis à disposition par la ville de Strasbourg.
                Elles sont mises à jour régulièrement.
            </h3>

            <p class="sub-title">PARKING
                <a href="https://data.strasbourg.eu/explore/embed/dataset/occupation-parkings-temps-reel/table/"> #</a>
            </p>
            <p class="info-text-title">Occupation en temps réel des parkings</p>
            <p class="info-text">Les parkings affichés dans cette application sont ordonnés par ordre du plus proche de votre position actuelle</p>

            <p class="sub-title">VELHOP
                <a href="https://data.strasbourg.eu/explore/embed/dataset/stations-velhop/table/?location=11,48.57116,7.77557&basemap=71944e">#</a>
            </p>
            <p class="info-text-title">Localisation et occupation des stations de vélos en libre-service</p>
            <p class="info-text">Les stations vélos affichées dans cette application sont ordonnées par ordre du plus proche de votre position actuelle</p>
        </ion-text>
    </section>
</ion-content>